.comments-void__form{
  max-width: 800px;
  margin: 40px auto;
}
.comments-void__form-name{
  display: inline-block;
  width: 100%;
  height: 30px;
  border: 1px solid silver;
  border-top-left-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}
.comments-void__form-comment{
  display: inline-block;
  width: 100%;
  height: 70px;
  border: 1px solid silver;
  border-top: none;
  border-bottom-left-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  box-sizing: border-box;
  resize: none;
  font-size: 16px;
  font-family: sans-serif;
}
.comments-void__form fieldset{
  display: inline-block;
  box-sizing: border-box;
  width: calc(85% - 2px);
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: none;
}
.comments-void__form button{
  display: inline-block;
  box-sizing: border-box;
  width: calc(15% - 2px);
  height: 100px;
  vertical-align: top;
  background-color: coral;
  color: white;
  padding: 0;
  margin: 0;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.comments-void__form button:hover{
  background-color: #ff7f50cc;
}

.comments-void__list{
  list-style: none;
  max-width: 800px;
  margin: 40px auto;
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: left;
}
.comments-void__list-item{
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
.comments-void__list-item:hover{
  background-color: #F6F6F6;
}
.comments-void__list-item span{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  margin-right: 20px;
}